body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #fbd3e9, #bb377d);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SCREEN AWAL */
.open-screen {
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, #fbd3e9, #bb377d);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  animation: pulse 1.5s infinite;
  z-index: 10;
}

@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  max-width: 350px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  animation: fadeIn 1.5s ease;
}

.hidden {
  display: none;
}

h1 {
  color: #e75480;
  margin-bottom: 5px;
}

h2 {
  margin-top: 0;
}

.message {
  font-size: 14px;
  line-height: 1.7;
  white-space: pre-line;
}

span {
  display: block;
  margin-top: 20px;
  color: #777;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ending {
  margin-top: 30px;
  text-align: center;
  opacity: 0;
  transition: opacity 2s ease;
}

.ending.show {
  opacity: 1;
}

.ending img {
  width: 70%;
  max-width: 200px;
  border-radius: 16px;
  margin-top: 15px auto 0;
  display: block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.final-text {
  margin-top: 15px;
  font-size: 13px;
  color: #888;
  font-style: italic;
}
